/* CSS RESET */





*, *::after, *::before {
	box-sizing: border-box;
}

:root {
	--font-sans: 'Poppins', Arial, sans-serif;

	--color-neutral-light:  #F2F2F2;
	--color-neutral-darkest:  #062830;

	--color-middle-light: #B3B3B3 ;
	--color-middle-dark: #FBB568;


	--color-main-light: #F4F2E9;
	--color-main-dark: #D0CEC2;



	--header-height:  3rem;

}

body {
	margin: 0;
	font-size: 100%;
	font-family: var(--font-sans);

}


.signin-background-color {
	background-color: #D0CEC2;
}



.logo-text {
	font-family: 'Nunito', 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 2.3em;
	letter-spacing: 1px;
	color: var(--color-neutral-darkest);
}
h1,h2,h3 {
	font-size:  1em;
	font-weight: 500;
	font-family: var(--font-sans);
}

a {
	color: inherit;
	font-weight: 500;
	text-decoration: none;

}

a:hover {
	text-decoration: underline;
}

/* Layout Classes */

.hidden { display: none; }

.display-flex { display: flex; }
.display-block { display: block; }
.display-inline-flex { display: inline-flex; }
.display-inline-block { display: inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center { align-items: center; }
.flex-justify-center { justify-content: center; }

.flex-column { flex-direction: column; }
/*.overscroll { overflow:auto; } */


.fill-parent {
   height: 100%;
   width: 100%;
}
.noclick-children * { pointer-events:none; }




/* FOrms */


.form-control  {
	margin: 1em 0;



}

.ui-mobile .form-label {
	font-size: 0.8em;
	color: var(--color-neutral-darkest);
	margin: 0.5rem 0.8rem;


}

.form-input {
	display: inline-block;
	width: 100%;
	border-width: 0px;
	background-color: var(--color-neutral-light);
	
	font: inherit;
	font-weight: 300;
	padding: 0.5em 1em;
	margin: 0;
	outline: 0;
	border-radius: 30px;

}

.form-button{
	display: inline-block;
	width: 100%;
	border-width: 0;
	background-color: var(--color-neutral-darkest);
	color: white;
	font: inherit;
	font-weight: 500;
	padding: 0.5em 1em;
	margin: 0;
	outline: 0;
	text-align: center;
	text-decoration: none;
	border-radius: 30px;

}

#signin-form,
#signup-form,

#add-cat-form,
#edit-animal-form,
#edit-name-form {
	padding: 1em;
}



.hotdog.dark {
   background-color: var(--color-neutral-dark);
   color: white;
}

#recent-search {
   box-shadow: 0.1em 0.2em 0.4em rgba(0,0,0,0.3);
}


.recent-search {
   margin: 1em;
   display: flex;
   position: relative;
}




/*Page layouts*/

.ui-mobile .ui-page-active {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

}

[data-role="main"] {
	flex: 1 1 100%;
	overflow: hidden;
	position: relative; /*scrolls on its own space*/
}

.ui-header,
.ui-footer {
	flex: none;
	height: 3.5rem;
	line-height: 3.5rem;
	border-width: 0;
	background-color: var(--color-main-light);
	color: var(--color-neutral-darkest);
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
	
	/*set and position child..content inside*/
	position: relative;
	overflow: hidden;
}

.ui-header .ui-title {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
}


.ui-header ul,
.ui-footer ul {
	position: relative;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}


.ui-footer li {
	flex: 1 1 auto;
	text-align: center;
}

.ui-header a,
.ui-footer a {
	display: block;
	padding: 0 1em;

}



/* floater */
.floater { position: absolute; }
.floater.top { top:1rem }
.floater.right { right:1rem }
.floater.bottom { bottom:1rem }
.floater.left { left:1rem }


.circle-button {
   border-radius: 2rem;
   line-height: 3rem;
   font-size: 2.5em;
   width: 3rem;
   height: 3rem;
   text-align: center;
   background-color: white;
   box-shadow: 0.1em 0.2em 0.4em rgba(0,0,0,0.2);
}




/*.map-placeholder {
	background-image: url(../img/map.png);
	background-position: center;
	background-size: cover;
}*/



/*CATS list*/

.cats-grid {

  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 1em;
  
  
}

.cat-info {
 
  padding: 10px;
  font-size: 1em;
  text-align: center;

  
}

.cat-info img {
	width:150px; height: 150px;
}







/*foooter nav*/

.nav-icon-set li.active {
	background-color: var(--color-main-dark);
}
.nav-icon {
	line-height: 2.3rem;
	display: block;

}

.nav-icon .icon {
	vertical-align: middle;
	width: 1.5em;
	
}

.nav-icon-label {
	line-height: 1.2rem;
	display: block;
	font-size: 0.8em;

}




/*User*/


.img-user img{
	margin-top: 4rem;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.title-user {
	font-weight: 300;
	color:  var(--color-middle-light);
	font-size: .8em;
	letter-spacing: 1px;
	
}
.user-info {
	font-weight: 400;
	font-size: 1em;
	padding-bottom: 10px;
	border-bottom: 1px solid  var(--color-middle-light) ;
}

.profile-name {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 1.7em;
	letter-spacing: 1px;
	color: var(--color-neutral-darkest);
}

.edit-profile{
	color: #FBB568;
}

.user-page{
	padding: 1em;
}


.js-logout {
	
	color: var(--color-middle-dark);
}

/*animal list CSS*/

.animal-list-image img{
	
	border-radius: 50%;
	width: 150px;
	height: 150px;
	padding: 10px;
}

.animal-list-name {
	padding-bottom: 10px;
	color: var(--color-neutral-darkest);
	font-weight: 300;
}





/*photos for cat add, cat edit*/

.img-cat img{
	margin-top: 3.8rem;
	border-radius: 50%;
	width: 180px;
	height: 180px;
	
}

.photo-profiles{
	text-align:center;
	margin-top:10vmin;
	margin-bottom:5vmin;

	
}


.title-cat {
	font-weight: 300;
	color:  var(--color-middle-light);
	font-size: .8em;
	letter-spacing: 1px;
	
}
.info-cat {
	font-weight: 400;
	font-size: 1em;
	padding-bottom: 10px;
	border-bottom: 1px solid  var(--color-middle-light) ;
}

.cat-page {
	padding: 1em;
}






/*MAP NAV for animal profile*/
.animal-profile-nav {
	height: var(--header-height);
	line-height: var(--header-height);
	display: flex;
	font-size: 1em;
}

.animal-profile-nav div{
	 text-align: center;
   flex: 1 1 auto;

}







/* MAP recent page*/
.map {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.map-cat-icon {
   width: 2rem;
   height: 2rem;
   vertical-align: middle;
}



















